page-home {
    $control-height: 40px;
    .home-content{
        text-align: center;
        background-image: url("../assets/img/start-exam-backgroung.png");
        background-size: cover;
    }
    .exam-text{
        font-family: PingFang TC Semibold;
        font-weight: bold;
        margin-top: 35%;
        text-shadow: 2px -2px #186b61;
    }
    div.exam-title-left { 
        float:left; 
        width: 50%;
    }
    div.jlpt { 
        color: #c3f2ef;
        text-align: right;
        font-size: 5em;
        margin-bottom: -15%;
    }
    div.n{
        text-align: right;
        font-size: 6em;
        color: #fff;
    }
    div.exam-title-right { 
        float:left;
        width: 50%; 
        text-align: left;
    }
    .n-number{
        color: #fff;
        font-size: 12em;
    }

    .button-start {
        position: relative;
        margin-top: 39%;
        width: 63%;
        height: 9%;
        border: 1px solid #0e5847;
        border-radius: 55px;
        background-color: #0c7a6e;
        font-size: 18pt;
        font-family: "PingFang TC Semibold";
        font-weight: bolder;
        color: #fff;
        box-shadow: inset 5px -7px #0b736a;
    }
    .button-setting{
        width: 10%;
        position: absolute;
        bottom: 1%;
        right: 4%;
    }
    button:active { 
        background-color: #0C766B;
        box-shadow: inset 5px -7px #0A6960;
    }
}
