page-exam {
    .slide-zoom {
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
    }
    ion-slides {
        display: block;
        width: 100%;
        height: 91%;
    }
    .underline-text{
        border-bottom: 1px solid black;
    }
}
