voca-start {
    .main{
        background: #fff;
        height: 100%;
    }
    .n-title{
        margin-top: 43%;
        margin-bottom: 0%;
        font-size: 4.5em;
        font-weight: bold;
        font-family: arial;
    }
    .part-title{
        font-size: 2em;
        margin: 4% 0px;
    }
    .part-title span{
        font-size: 0.5em;
    }
    .minute{
        font-size: 2em;
    }
    .minute span{
        font-weight: bold;
    }
}
