voca-start {

    .main{
        background: #6C8FC3;
        height: 100%;
        display: -webkit-flex;
        display: flex;
    }
    p{
        margin-top: 0px;
    }
    .content{
        margin:auto;
        font-size: 1.8em;
    }
}
